$color-text: #555555;
$blue: #0674ec;

@mixin split-space {
  text-align: center;
  padding: 102px 0px;
  background-repeat: no-repeat;
  background-position: bottom;
}

@mixin ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin link {
  border-radius: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 53px;
  transition: all 1s;
  cursor: pointer;
  text-align: center;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
}

@mixin footer-text {
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
  color: #ababab;
}

@mixin dropdown-user {
  font-family: 'Linearicons-Free';
  position: absolute;
  left: 20px;
}

