$color-text: #555555;
$blue: #0674ec;

@mixin split-space {
  text-align: center;
  padding: 102px 0px;
  background-repeat: no-repeat;
  background-position: bottom;
}

@mixin ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin flex {
  display: flex;
  justify-content: space-between;
  align-items: center;}
