@import 'fonts';
@import 'vars';
@import 'global';

button {
  outline: none;;
}

.header-top {
  background-color: #eef1f3;

  &__inner {
    @include flex;
    height: 98px;
    position: relative;
  }

  &__logo {
    padding:26px 0 26px 7px;
  }
  
  &__logo-link {
    width:  200px;
  }
  
  &__link {
    border-radius: 20px;
    background-color: $blue;
    font-size: 14px;
    line-height: 28px;
    border: none;
    color: #fff;
    margin-right: 51px;
    text-align: center;
    padding: 4px 18px;
    cursor: pointer;
  }
}

.header__icon {
  font-size: 17px;
  color: #7e8fa1;
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.header__icon-link {
  font-size: 0px;
  text-align: center;
  border: 0;
  padding: 0;
}

.header__icon-alarm--messages {
  position: absolute;
  top: -19px;
  right: -17px;
  min-width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: red;
  text-align: center;
  font-size: 14px;
  color: #fff;
  line-height: 22px;
}

// dropdown-notification
.dropdown-notification {
  position: absolute;
  z-index: 14;
  display: none;
  background-color: #fff;
  width: 370px;
  box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
  margin-top: 39px;
  margin-left: -30px;
  border-top: 1px solid $blue;
  border-radius: 4px;

  &:after {
    content: '';
    width: 0px;
    height: 0px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 8px solid #0674ec;
    top: -9px;
    position: absolute;
    left: 34px;
    }

  &__title-inner {
    @include flex;
     padding-right: 27px;
  }

  &__title {
    font-size: 18px;
    line-height: 28px;
    color: #000;
    padding: 18px 25px;
  }

  &__view {
    margin-right: -29px;
  }
  
  &__list {
    list-style: none;
    margin: 0;
    padding: 0 24px 15px 28px;
  }

  &__item {
    border-top: 1px solid #e8ebf0;
    padding-top: 17px;
    &--two {
      padding-top: 33px;
    }

    &--three {
      padding-top: 34px;
    }

    &--four {
      padding-top: 33px;
    }
  }

  .dropdown-notification__inner {
    display: flex;

    .dropdown-notification__avatar {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-right: 15px;
    }

    .dropdown-notification__content {
      margin-right: 15px;
      width: 222px;

      .notification__user-name {
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
        color: #000;
      }

      .notification__status {
        font-size: 15px;
        font-weight: 400;
        line-height: 20px;
        color: #747a86;
      }

      .notification__theme-link {
        font-size: 15px;
        font-weight: 400;
        line-height: 22px;
        color: $blue;
        cursor: pointer;
      }

      .notification__time {
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        color: #747a86;
        &:hover,
        &:focus,
        &:active {
          color: #9878d2;
        }
      }
    }

    .content-icon {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      font-family: 'Linearicons-Free';
      font-size: 15px;
      line-height: 28px;
      display: inline-block;
    }

    .content__heart--blue {
      color: $blue;
      background-color: #e6f1fd;
    }

    .content__bubble--purple {
      color: #7347c1;
      background-color: #f1ecf9;
    }

    .content__cart--red {
      color: #ff6a6c;
      background-color: #fff0f0;
    }

    .content__star--green {
      color: #62d03a;
      background-color: #effaeb;
    }
  }
}
// end dropdown-notification


.header__icon--alarm {
  margin-right: 29px;
}

.header__icon--envelope {
  margin-right: 32px;
}

.header__icon-notification {
  position: absolute;
  top: -20px;
  right: -18px;
  min-width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #62d03b;
  text-align: center;
  font-size: 14px;
  color: #fff;
  line-height: 22px;
}

.header__icon--cart {
  font-family: 'Linearicons-Free';
  margin-right: 49px;
}

.header__cart--number {
  position: absolute;
  top: -19px;
  right: -19px;
  min-width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #0674ec;
  text-align: center;
  font-size: 14px;
  color: #fff;
  line-height: 22px;
}

// dropdown-cart
.dropdown-cart {
  position: absolute;
  z-index: 14;
  display: none;
  background-color: #fff;
  width: 400px;
  box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
  margin-left: -231px;
  margin-top: 39px;
  border-top: 1px solid $blue;
  border-radius: 4px;

  &:after {
    content: '';
    width: 0px;
    height: 0px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 8px solid #0674ec;
    top: -9px;
    position: absolute;
    right: 47px;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    border-top: 1px solid #e8ebf0;
    padding: 20px 25px 25px;
  }

  .dropdown-cart__inner {
    display: flex;

    .dropdown-cart__theme {
      width: 80px;
      height: 70px;
      margin-right: 15px;
    }

    .dropdown-cart__content {
      margin-right: 15px;
      width: 222px;
      .cart-theme {
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
        color: #000;
      }
    }

    .content-icon {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      font-family: 'Linearicons-Free';
      font-size: 15px;
      line-height: 28px;
      display: inline-block;
      margin-left: 13px;
    }

    .content-icon--grey {
      color: #818c98;
      background-color: #f0ebf8;
    }

    .content__bubble--purple {
      color: #7347c1;
      background-color: #f1ecf9;
    }

    .dropdown-cart__price {
      font-size: 16px;
      font-weight: 500;
      line-height: 30px;
      color: $blue;
      width: 53px;
      border-radius: 20px;
      background-color: #e6f1fd;
      text-align: center;
      margin-top: 13px;
    }
  }

  &__total {
    font-size: 18px;
    font-weight: 500;
    color: #000;
    text-align: end;
  }

  &__btn {
    display: flex;
  }

  &__button {
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    color: #fff;
    width: 50%;
    background-color: #7347c1;
    height: 60px;
    border: none;
    cursor: pointer;
    &--right {
      background-color: $blue;
    }
  }
}
// end dropdown cart

.header__icon-magnifier {
  margin-right: 0;
  font-size: 15px;
  color: #fff;
}

.header__avatar {
  margin-right: 2px;
}

.header-box {
 @include flex;
}

.header-view {
  font-size: 15px;
  line-height: 22px;
  color: $blue;
  margin-right: 25px;
  cursor: pointer;
  &:hover,
  &:focus,
  &:active {
    color: #9878d2;
  }
}

// dropdown masseges
.header-massages {
  position: absolute;
  z-index: 16;
  display: none;
  background-color: #fff;
  width: 388px;
  box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
  margin-top: 39px;
  margin-left: -283px;
  border-top: 1px solid $blue;
  border-radius: 4px;

  &:after {
  content: '';
  width: 0px;
  height: 0px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 8px solid #0674ec;
  top: -9px;
  position: absolute;
  right: 37px;
  }

  &__title-inner {
    @include flex;
  }

  &__title {
    font-size: 18px;
    line-height: 28px;
    color: #000;
    display: inline-block;
    padding: 15px 25px;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    font-size: 14px;
    line-height: 28px;
    font-weight: 400;
    color: $blue;
    padding: 20px 25px;
    border-top: 1px solid #e8ebf0;
  }
}  

.header-massages__inner {
  display: flex;
  justify-content: start;
  align-items: center;

 .header-massages__avatar {
    width: 40px;
    height: 40px;
    vertical-align: middle;
    margin-right: 10px;
  }

  .header-massages__link {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #000;
    display: inline-block;
    cursor: pointer;
    padding-right: 7px;
   
    &:hover,
    &:focus,
    &:active {
    color: $blue;
    }
  }

  .header-massages__name:after {
    content: '\e818';
    font-family: 'Linearicons-Free';
    color: #0674ec;
    font-size: 15px;
    line-height: 26px;
  }

  .massege-name:after {
    content: '\e860';
    font-family: 'Linearicons-Free';
    color: #747a86;
    font-size: 15px;
    line-height: 26px;
  }

  .massege-name__icon:after {
    content: '';
  }

 .header-massages__time {
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    color: $blue;
    &:hover,
    &:focus,
    &:active {
      color: #9878d2;
    }

    &--grey {
      color: #747a86 ;
    }
  }

 .header-massages__text {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: $color-text;
  }
}
// end dropdown massages

.header-box__avatar {
  max-width: 50px;
  max-height: 50px;
  border-radius: 50%;
  background-color: grey;
  margin-right: 22px;
}

// dropdown-user
.dropdown-user {
  position: absolute;
  width: 270px;
  background-color: #fff;
  display: none;
  z-index: 16;
  border-top: 1px solid $blue;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
  top: 100%;
  margin-left: 250px;

  &:after {
    content: '';
    width: 0px;
    height: 0px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 8px solid #0674ec;
    top: -9px;
    position: absolute;
    right: 23px;
  }

  &__link {
    font-size: 15px;
    font-weight: 400;
    line-height: 44px;
    color: #54667a;
    display: inline-block;
    width: 100%;
    padding-left: 50px;
    position: relative;
    &:hover,
    &:active {
    background-color: $blue;
    color: #fff;
    cursor: pointer;
    }
  }

  &__list {
    list-style: none;
    padding: 10px 10px 30px 10px;
    margin: 0;
  }
}

.header__name-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #333333;
}

.dropdown-user__link1::before {
  content: '\e82a';
  @include dropdown-user;
}

.dropdown-user__link2::before {
  content: '\e800';
  @include dropdown-user;
}

.dropdown-user__link3::before {
  content: '\e810';
  @include dropdown-user;
}

.dropdown-user__link4::before {
  content: '\e82e';
  @include dropdown-user;
}

.dropdown-user__link5::before {
  content: '\e813';
  @include dropdown-user;
}

.dropdown-user__link6::before {
  content: '\e812';
  @include dropdown-user;
}

.dropdown-user__link7::before {
  content: '\e843';
  @include dropdown-user;
}

.dropdown-user__link8::before {
  content: '\e866';
  @include dropdown-user;
}

.dropdown-user__link9::before {
  content: '\e828';
  @include dropdown-user;
}

.dropdown-user__link10::before {
  content: '\e84c';
  @include dropdown-user;
}

.dropdown-user__link11::before {
  content: '\e820';
  @include dropdown-user;
}

.link {
  color: #000;
  &:hover,
  &:focus,
  &:active {
  color: $blue;
  cursor: pointer;
  }
}

.link-cmstype {
  &:hover,
  &:active {
    cursor: pointer;
  }
}

.header__user-account {
  color: $blue;
  font-size: 15px;
  line-height: 22px;
  font-weight: 500;
}
// header__menu

.header__inner {
 @include flex;
  height: 80px;
  position: relative;
}

.header__btn-nav {
  display: none;
  font-family: 'Linearicons-Free';
  color: #333;
  font-size: 45px;
  margin-bottom: 2px;
  cursor: pointer;
}

.header__mobile-list {
  display: none;
  position: absolute;
  padding-left: 0px;
  top: 27px;
  left: 0px;
  width: 200px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
  list-style: none;
  z-index: 17;
  border-top: 1px solid $blue;
  &:after {
    content: '';
    width: 0px;
    height: 0px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 8px solid #0674ec;
    top: -9px;
    position: absolute;
    left: 12px;
    }
}

.header__menu-list {
  @include flex;
  @include ul;
}

.header__nav {
  width: 500px;
}

.header__item {
  margin-right: 6px;
  &:last-child {
    margin-right: 0;
  }
}

.header__link {
  font-weight: 500;
  font-size: 15px;
  line-height: 42px;
  color: #333333;
  text-transform: uppercase;
}

// dropdow home
.dropdown-home {
  position: absolute;
  top: 100%;
  margin-top: 1px;
  width: 230px;
  background-color: #fff;
  display: none;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);

  &__list {
    list-style: none;
    padding: 20px 10px 30px 20px;
  }

  &__link {
    font-size: 15px;
    font-weight: 400;
    line-height: 44px;
    color: #54667a;
    display: inline-block;
    padding-left: 10px;;
    width: 100%;
    &:hover,
    &:active {
    background-color: $blue;
    color: #fff;
    cursor: pointer;
    }
  }
}

// dropdown products
.dropdown-products {
  position: absolute;
  top: 100%;
  margin-top: 1px;
  margin-left: 69px;
  width: 272px;
  background-color: #fff;
  display: none;
  z-index: 11;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);

  &__link {
    font-size: 15px;
    font-weight: 400;
    line-height: 44px;
    color: #54667a;
    display: inline-block;
    width: 100%;
    padding-left: 10px;
    &:hover,
    &:active {
    background-color: $blue;
    color: #fff;
    cursor: pointer;
    }
  }

  &__list {
    list-style: none;
    padding: 22px 30px 30px;
  }
}

// dropdown-wordpress
.dropdown-wordpress {
  position: absolute;
  top: 100%;
  margin-top: 1px;
  margin-left: 223px;
  width: 265px;
  background-color: #fff;
  display: none;
  z-index: 12;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);

  &__link {
    font-size: 15px;
    font-weight: 400;
    line-height: 44px;
    color: #54667a;
    display: inline-block;
    padding-left: 10px;
    width: 100%;
    &:hover,
    &:active {
    background-color: $blue;
    color: #fff;
    cursor: pointer;
    }
  }

    &__list {
      list-style: none;
      padding: 22px 18px 30px;
    }
}

// end dropdown-wordpress

.header-dropdown {
  background-color: #fff;
  position: absolute;
  top: 100%;
  margin-top: 1px;
  display: none;
  width: 1140px;
  z-index: 15;
  box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);

  .header-dropdown-block {
    display: flex;
    width: 100%;
  }
}


.header-dropdown-box {
  .header-dropdown__title {
    font-size: 16px;
    font-weight: 500;
    line-height: 40px;
    color: #000;
    margin-top: 30px;
    margin-left: 35px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e8ebf0;
  }

  .header-dropdown__list-item {
    list-style: none;
    margin-top: 30px;
  }

  .header-dropdown__link {
    font-size: 15px;
    line-height: 42px;
    color: #54667a;
    &:hover,
    &:focus,
    &:active {
    color: $blue;
    cursor: pointer;
    }
  }

  .header-dropdown__link--title {
    color: #000;
  }

  .dropdown-title {
    color: transparent;
    margin-left: 0;
  }
}

.header__search {
  font-weight: 400;
  line-height: 40px;
  color: #898f96;
  border-radius: 25px;
  padding-left: 25px;
  padding-right: 40px;
  border: 1px solid #dee3e9;
  width: 320px;
  font-size: 15px;
  outline: none;
}

.header__box-form {
  position: relative;
  margin-right: 41px;
}

.header__submit {
  width: 71px;
  height: 45px;
  background-color: $blue;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  position: absolute;
  right: -42px;
  top: 0;
}

//mein-screent
.background {
  background:linear-gradient(to right,#2d51d1, #092fba);
  height: 100%;
}

.mein-screen {
  background-color: rgb(0,0,0);
  background-repeat: no-repeat;
  height: 726px;

  &__product {
    text-align: center;
    color: #f3f3f8;
    padding-top: 170px;
  }

  &__title {
    font-weight: 400;
    font-size: 60px;
    line-height: 70px;
    
    &--bold {
      font-weight: bold;
    }
  }

  &__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 70px;
  margin-top: 9px;
  word-spacing: 1px;
  margin-bottom: 44px;
  }

  &__link {
  border: 1px solid #fff;
  background-color: transparent;
  padding: 17px 31px;
  margin-top: 26px;
  color: #fff;
  @include link;
  
    &--right {
      margin-left: 26px;
    }
    &:hover,
    &:focus,
    &:active {
      background-color: #fff;
      color: $blue;
    }
  }
}
// end main-screen


// search-page second page
.search-page {
  background-image: linear-gradient(to right,#4c289c, #1842e2);
  &__title {
    font-size: 26px;
    line-height: 70px;
    color: #fff;
    font-weight: 400;
    text-align: center;
    padding-top: 61px;
    margin-bottom: 13px;

    .search-page__count{
      font-weight: 500;
    }
  }

  &__form {
    position: relative;
    text-align: center;
    .search-page__input {
      width: 547px;
      padding: 17px 100px 15px 29px;
      border-radius: 25px;
      background-color: #fff;
      border: none;
    }

    .search-page__btn {
      position: absolute;
      right: 289px;
      background-color: $blue;
      border-radius: 30px;
      border: none;
      color: #fff;
      font-size: 15px;
      font-weight: 400;
      line-height: 42px;
      padding: 5px 31px;
    }
  }

  .breadcrumbs__inner {
    padding: 11px 0;
    margin-left: 25px;
   
    .breadcrumbs__list {
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;

      .breadcrumbs__items {
        position: relative;
        display: inline-block;
        padding: 0;
        margin-right: 20px;
        
        &::after {
          content: '/';
          position: absolute;
          right: -15px;
          top: 26px;
          color: #fff;
        }

        &:last-child::after {
          display: none;
        }
         
        &:last-child .breadcrumbs__link {
        color: #bfcad7;
        }

        .breadcrumbs__link {
          font-size: 15px;
          line-height: 70px;
          color: #fff;
        }
      }   
    } 
  } 
}
// end search-page second page

.product__search {
  margin-top: 170px;
  position: relative;

  &-list {
    font-size: 16px;
    line-height: 42px;
    font-weight: 400;
    color: #626262;
    border: 1px solid #dcdcdc; 
    border-radius: 0 5px 5px 0;
    width: calc(21% - 29px);
    height: 55px;
    padding-left: 18px;
    display: block;
    appearance: none;
    background-image: url(../images/arrow-down.png);
    background-repeat: no-repeat;
    background-position-x: calc(100% - 20px);
    background-position-y: calc(50%);
    cursor: pointer;
    outline: none;
  }

  &-btn {
    background-color: $blue;
    color: #fff;
    border-radius: 2px;
    margin-left: 32px;
    border: none;
    padding: 17px 67px;
    cursor: pointer;
  }
}

.product__box {
  height: 135px;
  position: absolute;
  background-color: #fff;
  border-radius: 5px;
}

.product__box--3 {
  opacity: 0.5;
  top:-26px;
  z-index: 1;
  left: 31px;
  width: calc(100% - 61px);
}

.product__box--2 {
  opacity: 0.4;
  top:-14px;
  z-index: 2;
  width: calc(100% - 30px);
  left: 16px;
}

.product__box--1 {
  z-index: 3;
  width: 100%;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
}

.product__search-input {
  display: flex;
  margin: 40px;
  outline: none;
}

.product__search-box {
  font-weight: 400;
  font-size: 16px;
  line-height: 42px;
  color: #626262;
  border: 1px solid #626262;
  border-radius: 5px 0 0 5px;
  padding: 6px 28px;
  display: block;
  width: calc(60% - 24px);
  border: 1px solid #dcdcdc;
  outline: none;
}

// value
.value {
  display: flex;
  justify-content: space-between;
  padding: 110px 5px;

  &__info {
    width: 360px;
    text-align: center;
    margin-right: 30px;
    padding: 47px 21px;
    margin-top: 72px;
    transform: all 1s;

    &:last-child {
      margin-right: 0;
    }

    &:hover,
    &:active,
    &:focus {
      border-radius: 4px;
      box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
      cursor: pointer;
    }
  }

  &__img {
    margin-bottom: 18px;
    min-height: 120px;
  }

  &__1 {
    width: 112px;
    height: 120px;
  }

  &__2 {
    width: 113px;
    height: 120px;
  }

  &__1 {
    width: 112px;
    height: 120px;
  }

  &__title {
    font-weight: 400; 
    font-size: 24px;
    line-height: 40px;
    color: #000;
    margin-bottom: 14px;
  }

  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: $color-text;
    padding: 0 10px;
  }
}

 //BEGIN weekly-slider
.weekly-slider {
  background-color: #eff1f5;
  padding-bottom: 120px;

  &__info {
    padding: 37px 45px 0 36px;
  }
  
  &__title {
  font-weight: 400;
  font-size: 30px;
  color: #000;
  background-color: #fff;
  padding: 40px 29px;
  margin-top: 126px;
  margin-bottom: 45px;
  width: 1140px;
  height: 114px;
  display: inline-block;
  line-height: 28px;
  border-radius: 4px;
  }

  &__box-img {
  position: relative;
  height: 451px;
  border-radius: 0 4px 4px 0;
    &:hover .weekly-slider__link {
      opacity: 1;
      transition: all 1s;
    }

    &:hover .weekly-slider__item1 {
      opacity: 0.7;
    }
  }
  
  &__link {
  border-radius: 44px;
  background-color: transparent;
  font-size: 15px;
  position: absolute;
  line-height: 41px;
  font-weight: 500;
  border: 1px solid #fff;
  color: #fff;
  text-align: center;
  padding: 0px 29px;
  cursor: pointer;
  position: absolute;
  top: 185px;
  left: 126px;
  opacity: 0;
   &:hover {
    background-color: #fff;
      color: $blue;
      border: 1px solid #fff;
      transition: all 1s;
   }
  }

  &__link-more {
  z-index: 10;
  }

  &__link-demo {
  margin-left: 147px;
  }
  
  &__item1 {
    max-width: 556px;
    max-height: 450px;
    background-repeat: no-repeat ;
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 4px 0 0 4px;
    height: 100%;
  }

  &__desc-icon {
    display: flex;
    align-items: center;
    margin-top: 7px;
  }

  &__item {
    background-color: #fff;
    height: 451px;
    width: 555px;
    border-radius: 0 4px 4px 0;
  }

  &__box {
    display: flex;
    padding-bottom: 100px;
  }

  &__desc {
    max-width: 800px;
    background-color: #fff;
    height: 452px;
  }

  &__desc-title {
    font-weight: 400;
    color: #000;
    font-size: 24px;
    line-height: 46px;
    margin-bottom: 4px;
    display: block;
  }

  &__desc-text {
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    color: $color-text;
    height: 171px;
    vertical-align: middle;
    display: table-cell;
    margin-bottom: 10px;
  }

  &__desc-inner {
    padding: 36px 47px;
    padding-bottom: 20px;
    border: 1px solid black;
    display: inline;
  }

  &__desc-btn {
    padding-bottom: 38px;
    border-bottom: 1px solid #ececec;
    margin-bottom: 30px;
    margin-top: 7px;
  }

  &__btn {
    background-color: #f1f3f6;
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    color: #868c96;
    border-radius: 15px;
    border: none;
    padding: 0 15px;
    transition: all 1s;
    margin-right: 5px;

    &:hover,
    &:active,
    &:focus {
      cursor: pointer;
      background-color: $blue;
      color: #fff;
    }
  }
}

.slick-prev {
  position: absolute;
  top: -125px;
  left: calc(100% - 138px);
  z-index: 4;
  background-color: #7347c1;
  border-radius: 30px 0 0 30px;
  border: none;
  color: #fff;
  font-size: 0px;
  height: 45px;
  width: 54px;
  padding-bottom: 4px;
  color: transparent;
  background-image: url(../images/left.png);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.slick-next {
  position: absolute;
  top: -125px;
  right: 30px;
  background-color: #7347c1;
  border-radius: 0 30px 30px 0;
  border: none;
  color: #fff;
  font-size: 0px;
  height: 45px;
  width: 54px;
  padding-bottom: 4px;
  color: transparent;
  background-image: url(../images/right.png);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.weekly-slider__price {
  background-color: $blue;
  font-weight: 500;
  font-size: 15px;
  line-height: 30px;
  color: #fff;
  padding: 5px 19px;
  border-radius: 15px;
  margin-right: 15px;
}

.invisible__text {
  font-size: 0px;
  text-align: center;
  border: 0;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.content-cart--blue {
  font-family: 'Linearicons-Free';
  font-size: 15px;
  color: $blue;
  margin-left: 22px;
  display: inline-block;
  cursor: pointer;
}

.content-cart--number {
  font-size: 15px;
  color: $blue;
  margin-left: 8px;
}

.content__heart--pink {
  font-size: 15px;
  color: #7347c1;
  margin-right: 4px;
  display: inline-block;
  cursor: pointer;
}

.content-heart {
  font-size: 15px;
  color: $color-text;
}

.weekly-slider__desc-info-inner {
  @include flex;
  margin-right: 2px;
}
//END weekly-slider

.newest-list {
  background-color: #f6f7fb;
}

.newest-list__filter {
  display: inline-flex;
  width: 100%;
  margin-top: 127px;
  justify-content: space-between;
  background-color: #fff;
  align-items: center;
  position: relative;
  border-radius: 4px;
}

.newest-list__title {
  background-color: #fff;
  width: 90%;
  font-weight: 400;
  font-size: 30px;
  line-height: 28px;
  color: #000;
  padding: 35px 30px;
}

.newest-list__filter-menu {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #747b86;
  padding-right: 20px;
  display: inline-flex;
  width: 130px;
}

.newest-list__inner {
  margin-top: 3px;

  .newest-list__menu-dot {
    border: 3px solid #a3b1c4;
    border-radius: 50%;
    margin-top: 3px;
    margin-left: 5px;
  }
}




.newest-list__menu-btn {
  display: flex;
  background: transparent;
  border: none;
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #747b86;
    &:hover,
    &:active,
    &:focus {
      color: $blue;
    }
}

.newest-list__buttens {
  background-color: #fff;
  margin-top: 34px;
  padding: 30px 34px;
  margin-bottom: 28px;
  border-radius: 4px;
}

.newest-list__btn {
  font-weight: 400;
  font-size: 15px;
  line-height: 35px;
  color: #747b86;
  background-color: #f1f3f6;
  border-radius: 20px;
  transition: all 1s;
  border: none;
  padding: 0 18px;
  margin-right: 8px;

  &:hover,
  &:active,
  &:focus {
    background-color: $blue;
    color: #fff;
    cursor: pointer;
  }
}

.newest-list__box-item {
  max-width: 363px;
  background-color: #fff;
  border: 1px solid #ececec;
  margin-top: 21px;
  margin-bottom: 8px;
  border-radius: 4px;
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
}

.newest-list__box-content {
  padding: 23px 30px 0px 28px;
  border-bottom: 1px solid #ececec;
}

.newest-list__box--bottom {
  padding: 3px 28px 5px 32px;
  border-bottom: 1px solid #ececec;
}

.newest-list__heading {
  font-weight: 500;
  font-size: 20px;
  color: #000;
  padding-bottom: 17px;
  margin: 0;
}
  
.newest-list__box-img {
  position: relative;
  
  &:hover .newest-list__link {
    opacity: 1;
    transition: all 1s;
  }
    
  &:hover .newest-list__images {
    opacity: 0.7;
  } 
}

.newest-list__images {
  max-width: 362px;
  min-height: 230px;
  background-repeat: no-repeat;
  border-radius: 4px 4px 0 0 ;
}

.newest-list__link {
  border-radius: 44px;
  background-color: transparent;
  font-size: 15px;
  line-height: 41px;
  font-weight: 500;
  border: 1px solid #fff;
  color: #fff;
  text-align: center;
  padding: 0px 29px;
  cursor: pointer;
  position: absolute;
  top: 95px;
  left: 46px;
  opacity: 0;
  &:hover {
    background-color: #fff;
    color: $blue;
    transition: all 1s;
  }
}
  
.newest-list__link-more {
  z-index: 10;
}

.newest-list__link-demo {
  margin-left: 136px;
}

.newest-list__company {
  padding-bottom: 25px;
}

.newest-list__name-company {
  margin-left: 3px;
  color: #000;
}

.newest-list__wordpress {
  font-size: 15px;
  line-height: 30px;
  color: #7347c1;
}

.newest-list__logo-company {
  width: 28px;
  height: 28px;
  display: inline-block ;
  vertical-align: middle;
  margin-right: 1px;
}

.newest-list__menu-list {
  position: absolute;
  right: 10px;
  margin-top: 30px;
  background-color: #fff;
  border-radius: 5px;
  padding: 20px 45px 20px 20px;
  box-shadow: 0px 2px 50px 0px rgba(0,0,0,0.16);
  list-style: none;
  display: none;
}

.newest-list__btn-title {
  background: transparent;
  border: none;
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  color: #747b86;
  width: 100px;
  height: 30px;
  cursor: pointer;
  padding-left: 18px;
}

.newest-list__menu-link {
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: #747b86;
  &:hover,
  &:active,
  &:focus {
    cursor: pointer;
    color: $blue;
  }
}

.newest-list__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: $color-text;
  padding-bottom: 30px;
}

.newest-list__info-icon {
  padding-top: 16px;
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between;
}

.content-cart--blue1 {
  margin-left: 46px;
}

.content__heart--pink2 {
  margin-left: 3px;
}

.content-cart--blue2 {
  margin-left: 57px;
}

.content__heart--pink3 {
  margin-left: 3px;
  padding-right: 2px;
}

.content-cart--blue3 {
  margin-left: 57px;
}

.content-cart--blue4 {
  margin-left: 33px;
}

.content-cart--blue6 {
  margin-left: 61px;
}

.content-cart--blue5 {
  margin-left: 47px;
}

.newest-list__price {
  border: 1px solid #deeaf9;
  background-color: #deeaf9;
  border-radius: 30px;
  padding: 5px 15px;
  font-weight: 500;
  color: $blue;
  margin-right: 10px;
}

.newest-list__box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.newest-list__btn-all--new {
  background-color: #0674ec;
  border: none;
  color: #fff;
  margin: 51px auto 0;
  display: block;
  padding: 1px 33px;
  @include link;
}

.newest-list__btn-inner {
  padding-bottom: 127px;
}

.newest-list__cmstype {
  font-size: 15px;
  color: #7347c1;
  margin-left: 9px;
}

.newest-list__menu-title {
  margin-right: 18px;
}

.newest-list__list::before {
  content:'';
  width: 0; 
  height: 0; 
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 14px solid white;
  top: 66px;
  right: 26px;
  position: absolute;
  z-index: 10;
}

// goods-slider
.goods-slider {
  background-color: #eff1f5;

  &__title {
  font-weight: 400;
  font-size: 30px;
  color: #000;
  background-color: #fff;
  padding: 40px 27px;
  margin-top: 112px;
  margin-bottom: 45px;
  width: 1140px;
  height: 114px;
  display: inline-block;
  line-height: 28px;
  border-radius: 4px;
  }
}

.goods-slider__box {
  max-width: 361px;
  background-color: #fff;
  border: 1px solid #ececec;
  margin-top: 0px;
  margin-right: 29px;
  margin-bottom: 3px;
  margin-left: 0px;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
}

.goods-slider__items {
  padding-bottom: 124px;
  position: relative;
  width: 100%;
}

.slick-prev {
  position: absolute;
  top: -125px;
  left: calc(100% - 138px);
  z-index: 4;
  background-color: $blue;
  border-radius: 30px 0 0 30px;
  border: none;
  color: #fff;
  font-size: 0px;
  height: 45px;
  width: 54px;
  padding-bottom: 4px;
  color: transparent;
  background-image: url(../images/left.png);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.slick-next {
  position: absolute;
  top: -125px;
  right: 30px;
  background-color: $blue;
  border-radius: 0 30px 30px 0;
  border: none;
  color: #fff;
  font-size: 0px;
  height: 45px;
  width: 54px;
  padding-bottom: 4px;
  color: transparent;
  background-image: url(../images/right.png);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}


// our-counts
.our-counts {
  background-color: #212225;

  &__inner {
   @include flex;
    padding: 92px 0;
    max-height: 344px;
  }
}

.our-counts__items-1 {
  width: 25%;
  text-align: left;
}

.our-counts__items {
  width: 25%;
  text-align: center;
}

.our-counts__items-4 {
  width: 25%;
  text-align: right;
}

.our-counts__img-box {
  min-width: 48px;
  height: 47px;
}

.our-counts__img-box--1 {
  margin-left: 29px;
}

.our-counts__img-box--2 {
  margin-right: 54px;
}

.our-counts__img-box--3 {
  margin-left: 64px;
}

.our-counts__img-box--4 {
    margin-right: 26px;
}

.our-counts__price {
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  margin-top: 38px;
  margin-bottom: 11px;

  &--yellow {
    color: #feb71d;
    line-height: 41px;
    margin-left: 4px;
  }

  &--blue {
    color: #58c9e9;
    margin-right: 54px;
  }

  &--green {
    color: #77de51;
    margin-left: 65px;
  }

  &--red {
    color: #ff6d6d;
    margin-left: 55px;
  }
}

.lnr-briefcase--yellow {
  font-family: 'Linearicons-Free';
  font-size: 48px;
  line-height: 36px;
  color: #feb71d;
}

.lnr-cloud-download--blue {
  font-family: 'Linearicons-Free';
  font-size: 48px;
  line-height: 36px;
  color: #58c9e9;
}

.our-counts__desc {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: #fff;
}

.lnr-smile--green {
  font-family: 'Linearicons-Free';
  font-size: 48px;
  line-height: 36px;
  color: #77de51;
}

.lnr-users--red {
  font-family: 'Linearicons-Free';
  font-size: 48px;
  line-height: 36px;
  color: #ff6d6d;
}

.our-counts__desc--1 { 
  margin-top: -4px;
} 

.our-counts__desc--2 {
  margin-right: 54px;
}

.our-counts__desc--3 {
  padding-left: 67px;
}

.our-counts__desc--4 {
  margin-right: 12px
}

// advantage
.advantage {

  &__header {
    margin-top: 95px;
    max-width: 678px;
    text-align: center;
    margin: 119px auto 55px;
  }

  &__title {
    font-size: 36px;
    font-weight: 400;
    line-height: 28px;
    color: #000;
    margin-bottom: 30px;
  }

  &__name-company {
    color: $blue;
  }

  &__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: $color-text;
  }
} 

.advantege__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 84px;
}

.advantege__item {
  max-width: 361px;
  padding: 6px 17px 55px;
  border-radius: 4px;
  box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
  margin-bottom: 31px;
}

.number {
  font-size: 48px;
  line-height: 7,2px;
  color: #5c87f8;
  font-weight: 300;
  text-align: left;
  opacity: 0.2;
}

.advantege-box {
  text-align: center;

  &__images {
  margin-bottom: 38px;
  margin-top: -20px;
  }

  &__icon {
  font-family: 'Linearicons-Free';
  font-size: 60px;
  }

  &__icon--license {
    color: #0674ec;
  }

  &__icon--magic-wand {
    color: #7f4ec2;
  }

  &__icon--lnr-lock {
    color: #77de51;
  }

  &__icon--lnr-chart-bars {
    color: #feb71d;
  }

  &__icon--lnr-leaf {
    color: #58c9e9;
  }

  &__icon--lnr-phone {
    color: #ff6a6d;
  }

  &__title {
    font-size: 24px;
    color: #000;
    font-weight: 400;
    margin-bottom: 21px;
  }

  &__text {
    font-size: 16px;
    line-height: 30px;
    color: $color-text;
    font-weight: 400;
    padding: 0 13px;
  }
} 


// split-space
.split-space__inner {
  display: flex;
  margin-bottom: 120px;
}

.split-space__sell,
.split-space__shopping {
  max-width: 960px;
  max-height: 564px;
  text-align: center;
}

.split-space__sell {
  background-color: $blue;
  @include split-space;

  &-img {
    margin-bottom: 47px;
  }
}

.split-space__title {
  font-size: 36px;
  line-height: 30px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 24px;
 
  &--shopping {
    margin-left: 10px;
  }
}

.split-space__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: #fff;
  margin-bottom: 45px;
  padding: 0 180px;
  
  &--shopping {
    margin-left: 10px;
  }
}

.split-space__link {
  color: $blue;
  background-color: #fff;
  padding: 1px 26px;
  display: inline-block;
  @include link
}

.split-space__shopping {
  background-color: #7347c1;
  @include split-space;

  &-img {
    margin-left: 16px;
    margin-bottom: 47px;
  }
} 

.split-space__link--start {
  margin-left: 12px;
  padding: 1px 40px;
}

// feedback
.feedback__heading {
  text-align: center;
  max-width: 678px;
  margin: 0 auto;

  .feedback__title {
    margin-bottom: 27px;
  }
  
  .feedback__text {
    margin-bottom: 60px;
  }
  
  .feedback__title--blue {
    color: $blue;
  }
}

.feedback__inner {
  margin-bottom: 60px;
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.06);
}

.feedback__box {
  border-left: 2px solid $blue;
  width: 50%;
  min-height: 310px;
  padding: 44px 38px;
  margin-right: 27px;
  position: relative;
  &:after {
    content: "\e83f";
    font-family: 'Linearicons-Free';
    font-size: 60px;
    color: #e8e8e8;
    position: absolute;
    right: 55px;
    top: 40px;
    font-weight: normal;
  }

  &-next {
    margin-left: 12px;
  }
}

.slick-slide img {
  display: inline-block;
}

.feedback__foto-user {
  max-width: 80px;
  max-height: 80px;
  border-radius: 50%;
  vertical-align: middle;
  margin-bottom: 22px;
}

.feedback__info {
  display: inline-block;
  margin-left: 15px;
  vertical-align: middle;
}

.feedback__user-name {
  font-size: 20px;
  color: #000;
  font-weight: 400;
}

.feedback__user-info {
  margin-bottom: 19px;
  margin-top: 7px;
}

.feedback__link-inner {
  text-align: center;

  .feedback__link {
  background-color: $blue;
  color: #fff;
  padding: 1px 34px;
  margin: 0px auto 119px;
  display: inline-block;
  @include link;
  }
}

// news
.news {
  background-color: #eff1f5;
  min-height: 885px;
  &__heading {
    margin-top: 125px;
  }
}

.news__heading {
  text-align: center;
  display: block;
  max-width: 675px;
  padding: 122px 0 55px;
  margin: 0 auto;
}

.news__title {
  margin-bottom: 24px;

  &--blue {
  color: $blue;
  }
}

.news__inner {
  display: flex;
  justify-content: space-between;
}

.news__box-link {
  cursor: pointer;
}

.news__box {
  max-width: 361px;
  border: 1px solid #e4e6ea;
  border-radius: 4px;
  background-color: #fff;
}

.news__image-product {
  max-width: 358px;
  max-height: 230px;
}

.news__box-title {
  font-size: 22.2px;
  font-weight: 500;
  color: #000;
  margin-top: 26px;
  margin-bottom: 20px;
  padding: 0 6px 0 27px;
  line-height: 28px;
}

.news__box-text {
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  color: $color-text;
  padding: 0 28px;
}

.news__box-inner {
  border-top: 1px solid #ececec;
  padding-top: 21px;
  margin-top: 22px;
}

.news__box-icons--border {
  display: inline-block;
  border-right: 1px solid #ececec;
  width: 179px;

  .news__box-icon {
    padding: 0px 28px 0 30px;
    color: #9d9d9d;
  }

  .news__box-ico--blue {
    color: #4899f1;
    padding: 0 1 !important; 
  }
}

.news__box-icons {
  display: inline-block;
  margin-bottom: 19px;
  color: #9d9d9d;
  margin-left: 30px;

  .lnr-bubble {
    font-family: 'Linearicons-Free'; 
  }
  
  .news__box-icon--eye {
    margin-left: 27px;
  }
}

// benefit
.benefit__inner {
  display: flex;
}

.benefit__item-images {
  min-width: 155px;
  min-height: 120px;
  padding-top: 60px;
}

.benefit__text {
  font-size: 24px;
  font-weight: 400;
  color: #000;
  padding-top: 25px;
  padding-bottom: 58px;

  &--blue {
    color: $blue;
  }
  
  &--purple {
    color: #7347c1;
  }
  
}
.benefit__text-link { 
  cursor: pointer;
}

.benefit__item-left {
  width: 50%;
  text-align: center;
  border-right: 1px solid #e8eaf3;
  padding-right: 40px;
}

.benefit__item-right {
  width: 50%;
  text-align: center;
  padding-right: 10px;
}

.benefit__item-pic {
  text-align: center;
}

// case
.case {
  background:linear-gradient(to right,#661e91, #0d37d9);
  height: 100%;
  &__box {
    text-align: center;
  }

  &__title {
    font-size: 36px;
    font-weight: 400;
    color: #fff;
    padding-top: 103px;
    padding-bottom: 20px;
  }

  &__text {
    font-size: 18px;
    font-weight: 400;
    color: #e7e7e7;
    padding-bottom: 49px;
  }

  &__link {
    background-color: #fff;
    color: $blue;
    padding: 1px 43px;
    display: inline-block;
    margin: 0 auto;
    border-radius: 50px;
    margin-bottom: 111px;
    @include link;

    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
    &:hover,
    &:focus,
    &:active {
      background-color: $blue;
      color: #fff;
    }
  }
}

// footer
.footer {
  background-color: #262b30;

  &__inner {
    display: flex;
    padding-bottom: 103px;
  }

  &__item {
    padding-top: 120px;
  }

  &__title {
    font-size: 18px;
    font-weight: 400;
    line-height: 42px;
    color: #fff;
    margin-bottom: 20px;
    text-align: left;
  }
}
 
.footer__item-contacts {
  max-width: 280px;
  margin-right: 61px;

  .footer__text-contacts {
    margin-bottom: 18px;
    @include footer-text
  }

  .footer__link-phone {
    position: relative;
    display: inline-block;
    padding-left: 29px;
    margin-bottom: 6px;
    font-style: normal;
    &::before {
    content: "\f095";
    position: absolute;
    left: 0;
    font-family: 'icomoon';
    }
  }
  
  .footer__link-email {
    position: relative;
    display: inline-block;
    padding-left: 29px;
    margin-bottom: 6px;
    font-style: normal;
    &::before{
    content: "\f003";
    position: absolute;
    left: 0;
    top: 0;
    font-family: 'icomoon';
    }
  }
  
  .footer__address {
    position: relative;
    font-style: normal;
    @include footer-text;
    padding-left: 29px;
    margin-bottom: 6px;
    &::before {
    content: "\e948";
    position: absolute;
    left: 0;
    top: 16px;
    font-family: 'icomoon';
    }
  }
}

.footer__list {
  margin: 0;
  padding: 0;
}

.footer__link {
  @include footer-text;
  cursor: pointer;
  &:hover,
  &:focus,
  &:active {
    color: $blue;
  }
}


.footer__item-menu {
  max-width: 180px;
  margin-bottom: 16px;
  text-align: center;
  margin-right: 126px;

  .footer__list-menu {
    margin-bottom: 4px;
    text-align: left;
    word-spacing: 1px;
    list-style: none;
  }
}

.footer__list-support {
  margin-bottom: 4px;
  text-align: left;
  word-spacing: 1px;
  list-style: none;
}

.footer__item-social {
  text-align: right;
  max-width: 360px;
  margin-left: 60px;

  .footer__text-social {
    text-align: left;
    margin-bottom: 31px;
    @include footer-text
  }

  .footer__form {
    margin:0;
    position: relative;
  }

  .footer__btn {
    position: absolute;
    right: -3px;
    top: -1px;
    background-color: $blue;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    line-height: 43px;
    border-radius: 40px;
    border: none;
    padding: 4px 32px;
    cursor: pointer;
  }
}

.footer__input {
  border-radius: 40px;
  padding: 14px 112px 14px 29px;
  border: none;
  margin-bottom: 48px;
  width: 359px;
  outline: none;
  &::placeholder {
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
    color: #ababab;
  }
}

.footer-social__list {
  display: flex;
  margin: 0;
  padding: 0;

  .footer-social__icon {
    margin-right: 10px;
    list-style: none;
  }

  .footer-icon {
    font-family: 'icomoon';
    font-size: 16px;
    line-height: 45px;
    color: #fff;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: inline-block;
  
    &__facebook {
      background-color: #395799;
    }
  
    &__twitter {
      background-color: #19b2f5;
    }
  
    &__google {
      background-color: #f05b44;
    }
  
    &__pinterest {
      background-color: #9c0c1c;
    }
  
    &__linkedin {
      background-color: #0da6be;
    }
  
    &__dribbble {
      background-color: #ea4c89;
    }
  }
}

// footer__bottom
.footer__bottom {
  background: #192027;
  font-size: 15px;
  line-height: 27px;
  font-weight: 400;
  color: #999999;
  padding: 35px 0;
  text-align: center;

  &-link {
    color: #fff;
    cursor: pointer;
    &:hover,
    &:focus {
      color: $blue;
    }
  }

  .footer__name-company {
    color: #fff;
  }
}


// @madia
@media (max-width: 1400px) {
  .split-space__text {
    padding: 0 50px;
  }
}

@media (max-width: 1170px) {
  .header__user-name {
    margin-right: 10px;
  }
  .product__search-box {
    width: 52%;
  }
  .product__search-list {
    padding-left: 5px;
  }

  .weekly-slider__item1 {
    max-width: 100%;
    max-height: 100%;
  }

  .newest-list__btn {
    margin-bottom: 5px;
    margin-top: 5px;
  }

  .newest-list__menu-btn {
    width: 135px;
  }

  .newest-list__box {
    justify-content: space-around;
  }

  .advantege__inner {
    justify-content: space-around;
  }

  .news__inner {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .news__box {
    margin-bottom: 15px;
  }

  .footer__inner {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .footer__item-contacts {
    margin-right: 30px;
  }

  .footer__item-menu {
    margin-right: 30px;
  }

  .footer__item-social {
    margin-left: 30px;
  }
}

@media (max-width: 970px) {
  .mein-screen__product {
    padding-top: 156px;
  }

  .newest-list__list::before {
    content: '' !important;
    display: none;
  }

  .header-dropdown__list-item {
    display: none;
  }

  .header-dropdown {
    width: 220px;
    margin-left: 292px;
  }

  .header-dropdown__title {
    margin-top: 10px !important;
    margin-left: 25px !important;
    padding-bottom: 05px !important;
  }

  .header-dropdown-block {
    display: block !important;
  }

  .dropdown-title {
    display: none;
  }
  
  .header__inner {
    flex-wrap: wrap;
    justify-content: center;
    height: 120px;
  }

  .header-top__inner {
    height: 167px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .header-top__logo {
    padding: 0;
  }
  
  .product__search-btn {
    width: 115px;
    padding: 17px 10px;
  }

  .product__search-input {
    justify-content: center;
  }

  .product__search-list {
    width: 160px;
  }

  .value {
    flex-wrap: wrap;
    justify-content: center;
    padding: 200px 5px 35px;
  }

  .value__info {
    width: 328px;
    margin-right: 0;
    margin-top: 10px;
  }

  .weekly-slider {
    padding-bottom: 50px;
  }

  .weekly-slider__link {
    top: 46%;
    left: 25%;
  }

  .weekly-slider__info {
    padding: 5px 10px 5px 10px;
  }

  .weekly-slider__desc-text {
    font-size: 14px;
  }

  .weekly-slider__desc-info-inner {
    flex-wrap: wrap;
    justify-content: center;
  }

  .weekly-slider__desc-info-icon {
    margin: 10px 10px;
  }

  .weekly-slider__desc-btn {
    margin-bottom: 5px;
    padding-bottom: 5px;
  }

  .weekly-slider__item {
    height: 387px;
  }

  .weekly-slider__box-img {
    height: 100%;
  }

  .newest-list__filter {
    margin-top: 10px;
  }

  .newest-list__box-item {
    margin-left: 5px;
    margin-right: 5px;
  }

  .newest-list__btn-inner {
    padding-bottom: 50px;
  }

  .goods-slider__title {
    margin-top: 50px;
    width: 100%;
  }

  .goods-slider__items {
    width: 390px;
    margin-left: calc(50% - 180px);
    padding-bottom: 40px;
  }

  .split-space__title {
    font-size: 32px;
  }

  .split-space__text {
    padding: 0 30px;
    font-size: 14px;
  }
  .split-space__inner {
    margin-bottom: 60px;
  }

  .feedback__heading .feedback__text {
    margin-bottom: 30px;
  } 

  .feedback__link-inner {
    margin: 0px auto 30px;
  }

  .feedback__link {
    margin: 0 auto !important;
  }
  .news__heading {
    padding: 60px 0 55px;
  }
  
  .footer__item {
    padding-top: 40px;
  }

  .weekly-slider__title {
    padding: 19px 30px;
    margin-top: 30px;
    width: 100%;
  }

  .header-top__link {
    margin-right: 35px;
    margin-left: 10px;
    margin-top: 2px;
  }

  .dropdown-home {
    z-index: 20;
  }

  .mein-screen__title {
    font-size: 46px;
  }

}

@media (max-width: 700px) {
  .header__inner {
    justify-content: center;
  }  

  .product__search-btn {
    width: 100%;
  }

  .header-top__link {
    width: 100%;
    display: block;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
  }

  .header-dropdown {
    width: 220px;
    margin-left: 298px;
    top: 100%;
  }

  .dropdown-wordpress {
    top: 100%;
    margin-left: 189px
  }

  .dropdown-products {
    position: absolute;
    top: 100%;
    margin-left: 54px;
  }

  .dropdown-home {
    top: 100%;
    margin-left: -18px;
  }

  .dropdown-cart {
    margin-left: -74px;
    margin-top: 22px;
    &::after {
      content: '';
      right: 194px;
    }
  }

  .header-massages {
    margin-top: 19px;
    margin-left: -86px;
    &::after {
      content: '';
      left: 147px;
    }
  }

  .dropdown-notification {
    margin-top: 19px;
    margin-left: -22px;
  }
   
  .header-box {
    align-items: center;
    flex-wrap: wrap;
    justify-content: inherit;
  }

  .header-box__avatar {
    margin-right: 15px;
    margin-bottom: 10px;
  }

  .header__icon--alarm {
    margin-left: 10px;
  }

  .product__search-input {
    flex-wrap: wrap;
  }

  .product__search-box {
    width: 58%;
  }

  .product__search-btn {
    margin: 10px 0;
  }

  .product__box {
    height: 184px;
  }
  
  .value__info {
    padding-top: 100px;
  }
  

  .weekly-slider__item1 {
    max-width: 700px;
    width: 100%;
  }

  .weekly-slider__info {
    padding: 15px 30px 15px 30px;
  }

  .weekly-slider__desc-btn {  
    padding-bottom: 15px;
  }

  .weekly-slider__title {
    font-size: 22px;
  }

  .goods-slider__title {
    font-size: 22px;
  }

  .our-counts__inner {
    align-items: normal;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 0 35px;
    max-height: 700px;
  }
  
  .our-counts__items,
  .our-counts__items-1,
  .our-counts__items-4 {
    width: 50%;
    text-align: center;
  }
  
  .our-counts__price--green {
    margin-right: 0;
    margin-left: 0;
  }
  
  .our-counts__price--red {
    margin-right: 0;
    margin-left: 0;
  }

  .our-counts__img-box--1 {
    margin-left: 0;
  }

  .our-counts__img-box--2 {
    margin-left: 0;
    margin-right: 0;
  }

  .our-counts__img-box--3 {
    margin-left: 0;
  }

  .our-counts__img-box--4 {
    margin-left: 0;
    margin-right: 0;
  }

  .our-counts__img-box {
    margin-top: 30px;
  }
  
  .our-counts__price--blue {
    margin-left: 0;
    margin-right: 0;
  }

  .our-counts__desc {
    padding-left: 0;
  }

  .our-counts__desc--2 {
    margin-right: 0;
  }
  
  .newest-list__btn-all--new {
    margin: 22px auto -17px;
  }

  .split-space__inner {
    flex-wrap: wrap;
  }

  .footer__item-contacts {
    margin-right: 0;
    text-align: center;
    margin: 0 80px;
  }

  .footer__inner {
    justify-content: center;
  }
  
  .dropdown-user {
    margin-left: 50px;
  }

  .mein-screen__title {
    font-size: 36px;
  }

}

@media (max-width: 490px) {
  .header__nav {
    width: 0;
  }

  .header__inner {
    flex-wrap: block;
    justify-content: space-between;
  }

  .header__mobile-list {
    top: 75px;
    
  }

  .header__link--mobile {
    display: inline-block;
    width: 100%;
    padding-left: 15px ;
  
    &:hover {
     
      color: #fff;
      background-color: $blue;
    }
  } 

  .dropdown-user {
    margin-left: 2px;
    top: 100%;
    margin-top: 0;
  }

 .header__menu-list {
    display: none;
  }

  .header__btn-nav {
    display: inline-block;
  }

  .dropdown-cart {
    margin-left: -23px;
    margin-top: 22px;
  }

  .dropdown-cart {
    width: 317px;
    margin-left: -13px;
    margin-right: 29px;
    &::after{
      content: '';
      right: 176px;
    }
  }

  .header-massages {
    margin-top: 19px;
    margin-left: -10px;
    width: 310px;
    &::after {
      content: '';
      left: 71px;
    }
  }

  .dropdown-notification {
    width: 310px;
    margin-left: -10px;
    &::after {
      content: '';
      left: 21px;
    }
  }
  
  .header__icon--cart {
    margin-right: 30px;
  }

  .header-box__avatar {
    margin-right: 15px;
    max-width: 40px;
    max-height: 40px;
  }

  .header__name-link {
    font-size: 12px;
  }

  .header__user-name {
    margin-right: 0px;
  }
  
  .header__search {
    width: 203px;
    padding-left: 17px;
  }

  .mein-screen__title {
    font-weight: 400;
    font-size: 37px;
  }

  .mein-screen__text {
    font-size: 16px;
    line-height: 50px;
  }

  .mein-screen__product {
    padding-top: 97px;
  }

  .product__search-box {
    width: 100%;
  }

  .product__search {
    margin-top: 146px;
  }

  .product__search-input {
    margin: 11px;
  }

  .product__search-btn,
  .product__search-list {
    display: block;
    width: 100%;
  }

  .slick-prev {
    top: -103px;
    left: calc(100% - 155px);
    width: 38px;
  }

  .slick-next {
    top: -103px;
    right: 79px;
    width: 38px;
  }
 
  .newest-list__price {
    margin-right: 0;
    padding: 5px 10px;;
  }

  .newest-list__images {
    width: 310px;
    min-height: 100px;
  }

  .newest-list__box-item {
    max-width: 310px;
  }

  .newest-list__text {
    font-size: 14px;
    line-height: 24px;
  }

  .newest-list__title {
    line-height: 23px;
    padding: 10px;
    font-size: 17px;
  }
  
  .newest-list__box--bottom {
    padding: 10px 5px 5px 5px;
  }

  .goods-slider__box {
    max-width: 312px;
  }

  .goods-slider__items {
    width: 310px;
    margin-left: calc(50% - 155px);
  }
  
  .newest-list__heading {
    font-size: 16px;
  }

  .weekly-slider {
    padding-bottom: 20px;
  }

  .weekly-slider__title {
    margin-top: 50px;
  }

  
  .slick-track {
    height: 423px;
  }

  .goods-slider__title {
    padding: 22px 27px;
  }

  .slick-track {
    height: 532px;
  }

  .invisible__text {
    margin-right: 7px;
  }

  .advantage__header {
    margin: 63px auto 55px;
  }

  .advantege__inner {
    margin-bottom: 0;
  }

  .split-space__shopping {
    padding: 55px 0px;
  }

  .advantage__title {
    line-height: 38px;
  }

  .benefit__inner {
    flex-wrap: wrap;
  }

  .benefit__item-left,
  .benefit__item-right {
    width: 100%;
    padding-right: 0;
    border-right: none;
  }

  .feedback__link {
    margin: 0px auto 30px !important;
  }

  .footer__title {
    text-align: center;
  }

  .footer__text-social {
    text-align: left;
    padding: 0 12px;
  }

  .footer__form {
    width: 100%;
  }
  
  .footer__input {
    width: 289px;
    margin-right: 8px;
  }

  .footer__btn {
    margin-right: 7px;
  }

  .footer__list-icon {
    margin-right: 0;
  }

  .footer-social__list,
  .footer-social__icon {
    margin-right: 0 !important;
  }

  .footer__item-social {
    margin: 0 10px;
  }

  .weekly-slider__images {
    display: flex;
    flex-wrap: wrap;
    height: 381px;
  }

  .weekly-slider__desc-title {
    line-height: 17px;
    font-size: 16px;
  }

  .weekly-slider__desc-text {
    font-size: 12px;
    display: block;
    line-height: 21px;
    margin-bottom: 0px;
  }

  .weekly-slider__btn {
    padding: 0;
    margin: 2px 0;
  }

  .weekly-slider__info {
    padding: 15px 15px;
  }

  .weekly-slider__desc-btn {
    padding-bottom: 0;
  }

  .weekly-slider__desc-info-icon {
    margin: 0;
  }

  .weekly-slider__item {
    height: 354px;
  }

  .weekly-slider__link-demo {
    left: 0;
    position: absolute;
  }

  .weekly-slider__link-more {
    left: 5px;
    position: absolute;
  }

  .mein-screen__link--right {
    white-space: nowrap;
    margin-left: 0px;
  }

  .mein-screen__link {
    margin-right: 0;
    line-height: 60px;
  }

  .newest-list__link {
    left: 21px;
    top: 80px;
  }

}