@import 'fonts';
@import 'vars';
@import 'global';

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.header-top {
  background-color: #eef1f3;
  
  &__link {
    border-radius: 20px;
    background-color: $blue;
    font-size: 14px;
    line-height: 28px;
    border: none;
    color: #fff;
    margin-right: 51px;
    text-align: center;
    padding: 4px 18px;
    cursor: pointer;
  }

  &__inner {
    @include flex;
    height: 98px;
  }

}
.header-top__logo {
  padding:26px 0 26px 7px;
}

.header__icon-link {
  font-size: 0px;
  text-align: center;
  border: 0;
  padding: 0;
}

.header__icon {
  font-size: 17px;
  color: #7e8fa1;
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.header__icon-alarm {
  margin-right: 34px;
}

.header__icon-envelope {
  margin-right: 34px;
}

.header__icon-cart {
  margin-right: 53px;
}

.header__icon-alarm::after {
  content:'25' ;
  position: absolute;
  top:-17px;
  right: -14px;
  min-width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: red;
  text-align: center;
  font-size: 14px;
  color: #fff;
  line-height: 22px;
}

.header__icon-envelope::after {
  content:'6' ;
  position: absolute;
  top:-17px;
  right: -17px;
  min-width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #62d03b;
  text-align: center;
  font-size: 14px;
  color: #fff;
  line-height: 22px;
}

.header__icon-magnifier {
  margin-right: 0;
  font-size: 15px;
  color: #fff;
}

.header__icon-cart::after {
  content:'2' ;
  position: absolute;
  top:-17px;
  right: -19px;
  min-width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: $blue;
  text-align: center;
  font-size: 14px;
  color: #fff;
  line-height: 22px;
}

.header__avatar {
  margin-right: 2px;
}

.header-box {
 @include flex;
}

.header-box__avatar {
  max-width: 50px;
  max-height: 50px;
  border-radius: 50%;
  background-color: grey;
  margin-right: 22px;
}

.header__nav {
  width: 495px;
}

.header__name-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #333333;
}

.header__user-account {
  color: $blue;
  font-size: 15px;
  line-height: 22px;
  font-weight: 500;
}
// header__menu

.header__inner {
 @include flex;
  height: 80px;
}

.header__menu-list {
  @include flex;
  @include ul;
}

.header__item {
  margin-right: 27px;
  &:last-child {
    margin-right: 0;
  }
}

.header__link {
  font-weight: 500;
  font-size: 15px;
  line-height: 42px;
  color: #333333;
  text-transform: uppercase;
}

.header__search {
  font-weight: 400;
  line-height: 40px;
  color: #898f96;
  border-radius: 25px;
  padding-left: 25px;
  padding-right: 40px;
  border: 1px solid #dee3e9;
  width: 320px;
  font-size: 15px;
}

.header__box-form {
  position: relative;
  margin-right: 41px;
}

.header__submit {
  width: 71px;
  height: 45px;
  background-color: $blue;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  position: absolute;
  right: -42px;
  top: 0;
}

//mein-screent
.background {
  background:linear-gradient(to right,#2d51d1, #092fba);
  height: 100%;
}

.mein-screen {
  background-color: rgb(0,0,0);
  background-repeat: no-repeat;
  height: 726px;

  &__product {
    text-align: center;
    color: #f3f3f8;
    padding-top: 170px;
  }

  &__title {
    font-weight: 400;
    font-size: 60px;
    line-height: 70px;
    
    &--bold {
      font-weight: bold;
    }
  }

  &__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 70px;
  margin-top: 11px;
  word-spacing: 1px;
  margin-bottom: 44px;
  }

  &__link {
  border: 1px solid #fff;
  border-radius: 25px;
  background-color: transparent;
  font-size: 16px;
  line-height: 53px;
  padding: 15px 30px;
  margin-top: 26px;
  color: #fff;
  transition: all 1s;
    &--right {
      margin-left: 30px;
    }

    &:hover,
    &:focus,
    &:active {
      background-color: #fff;
      color: $blue;
      cursor: pointer;
    }
  }
}

.product__search {
  margin-top: 166px;
  position: relative;

  &-list {
    font-size: 16px;
    line-height: 42px;
    font-weight: 400;
    color: #626262;
    border: 1px solid #dcdcdc; 
    border-radius: 0 5px 5px 0;
    width: calc(21% - 29px);
    height: 55px;
    padding-left: 16px;
    display: block;
    appearance: none;
    background-image: url(../images/arrow-down.png);
    background-repeat: no-repeat;
    background-position-x: calc(100% - 20px);
    background-position-y: calc(50%);
    cursor: pointer;
  }

  &-btn {
    background-color: $blue;
    color: #fff;
    border-radius: 2px;
    margin-left: 32px;
    border: none;
    padding: 17px 67px;
    cursor: pointer;
  }
}

.search-box {
  height: 135px;
  position: absolute;
  background-color: #fff;
  border-radius: 5px;
}

.product__search-box3 {
  opacity: 0.5;
  top:-26px;
  z-index: 1;
  left: 31px;
  width: calc(100% - 61px);
}

.product__search-box2 {
  opacity: 0.4;
  top:-14px;
  z-index: 2;
  width: calc(100% - 30px);
  left: 16px;
}

.product__search-box1 {
  z-index: 3;
  width: 100%;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
}

.product__search-input {
  display: flex;
  margin: 40px;
}

.product__search-box {
  font-weight: 400;
  font-size: 16px;
  line-height: 42px;
  color: #626262;
  border: 1px solid #626262;
  border-radius: 5px 0 0 5px;
  padding: 6px 28px;
  display: block;
  width: calc(60% - 24px);
  border: 1px solid #dcdcdc;
}

// value
.value {
  display: flex;
  justify-content: space-between;
  padding: 110px 5px;

  &__info {
    width: 360px;
    text-align: center;
    margin-right: 30px;
    padding: 119px 21px;
    transform: all 1s;

    &:last-child {
      margin-right: 0;
    }

    &:hover,
    &:active,
    &:focus {
      border-radius: 4px;
      box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
      cursor: pointer;
    }
  }

  &__img {
    margin-bottom: 18px;
    min-height: 120px;
  }

  &__1 {
    width: 112px;
    height: 120px;
  }

  &__2 {
    width: 113px;
    height: 120px;
  }

  &__1 {
    width: 112px;
    height: 120px;
  }

  &__title {
    font-weight: 400; 
    font-size: 24px;
    line-height: 40px;
    color: #000;
    margin-bottom: 13px;
  }

  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: $color-text;
    padding: 0 10px;
  }
}

 //BEGIN weekly-slider
.weekly-slider {
  background-color: #eff1f5;

  &__info {
    padding: 37px 45px 0 36px;
  }
  
  &__title {
  font-weight: 400;
  font-size: 30px;
  color: #000;
  background-color: #fff;
  padding: 40px 27px;
  margin-top: 55px;
  margin-bottom: 45px;
  width: 1140px;
  height: 114px;
  display: inline-block;
  line-height: 28px;
  border-radius: 4px;
  }

  &__box-img {
  position: relative;
    &:hover .weekly-slider__link{
      opacity: 1;
      transition: all 1s;
    }
  }
  
  &__link {
  border-radius: 44px;
  background-color: #a91e3b;
  font-size: 15px;
  position: absolute;
  line-height: 41px;
  font-weight: 500;
  border: 1px solid #a91e3b;
  color: #fff;
  text-align: center;
  padding: 0px 29px;
  cursor: pointer;
  position: absolute;
  top: 248px;
  left: 126px;
  opacity: 0;
   &:hover {
    background-color: #fff;
      color: #a91e3b;
      border: 1px solid #fff;
      transition: all 1s;
   }
  }

  &__link-more {
  z-index: 10;
  }

  &__link-demo {
  margin-left: 147px;
  }
  
  &__item1 {
    max-width: 556px;
    max-height: 450px;
    background-repeat: no-repeat ;
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 4px 0 0 4px;
  }

  &__desc-icon {
    display: flex;
    align-items: center;
    margin-top: 7px;
  }

  &__item {
    background-color: #fff;
    height: 451px;
    width: 555px;
    border-radius: 0 4px 4px 0;
  }

  &__box {
    display: flex;
    padding-bottom: 100px;
  }

  &__desc {
    max-width: 800px;
    background-color: #fff;
    height: 452px;
  }

  &__desc-title {
    font-weight: 400;
    color: #000;
    font-size: 24px;
    line-height: 46px;
    margin-bottom: 4px;
    display: block;
  }

  &__desc-text {
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    color: $color-text;
    height: 181px;
    vertical-align: middle;
    display: table-cell;
  }

  &__desc-inner {
    padding: 36px 47px;
    padding-bottom: 20px;
    border: 1px solid black;
    display: inline;
  }

  &__desc-btn {
    padding-bottom: 38px;
    border-bottom: 1px solid #ececec;
    margin-bottom: 30px;
  }

  &__btn {
    background-color: #f1f3f6;
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    color: #868c96;
    border-radius: 15px;
    border: none;
    padding: 0 15px;
    transition: all 1s;

    &:hover,
    &:active,
    &:focus {
      cursor: pointer;
      background-color: $blue;
      color: #fff;
    }
  }

.slick-prev {
  position: absolute;
  top: -125px;
  left: 1003px;
  z-index: 4;
  background-color: #7347c1;
  border-radius: 30px 0 0 30px;
  border: none;
  color: #fff;
  font-size: 0px;
  height: 45px;
  width: 54px;
  padding-bottom: 4px;
  color: transparent;
  background-image: url(../images/left.png);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.slick-next {
  position: absolute;
  top: -125px;
  right: 30px;
  background-color: #7347c1;
  border-radius: 0 30px 30px 0;
  border: none;
  color: #fff;
  font-size: 0px;
  height: 45px;
  width: 54px;
  padding-bottom: 4px;
  color: transparent;
  background-image: url(../images/right.png);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.weekly-slider__price {
    background-color: $blue;
    font-weight: 500;
    font-size: 15px;
    line-height: 30px;
    color: #fff;
    padding: 5px 17px;
    border-radius: 15px;
    margin-right: 17px;
  }
}

.invisible__text{
  font-size: 0px;
  text-align: center;
  border: 0;
  padding: 0;
}

.content-cart--blue {
  font-size: 15px;
  color: $blue;
  margin-left: 20px;
  display: inline-block;
}
.content-cart--number {
  font-size: 15px;
  color: $blue;
  margin-left: 10px;
}

.content-heart--pink {
  font-size: 15px;
  color: #7347c1;
  margin-right: 10px;
  display: inline-block;
}

.content-heart {
  font-size: 15px;
  color: $color-text;
}

.weekly-slider__desc-info-inner {
  @include flex;
}
//END weekly-slider

.newest-list {
  background-color: #f6f7fb;
}

.newest-list__filter {
  display: inline-flex;
  width: 100%;
  margin-top: 245px;
  justify-content: space-between;
  background-color: #fff;
  align-items: center;
  position: relative;
  border-radius: 4px;
}

.newest-list__title {
  background-color: #fff;
  width: 90%;
  font-weight: 400;
  font-size: 30px;
  line-height: 28px;
  color: #000;
  padding: 35px 27px;
}

.newest-list__filter-menu {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #747b86;
  padding-right: 20px;
  display: inline-flex;
  width: 130px;
}

.newest-list__menu-dot {
  border: 3px solid #a3b1c4;
  border-radius: 50%;
  margin-top: 3px;
  margin-left: 5px;
}

.newest-list__menu-btn {
  display: flex;
  background: transparent;
  border: none;
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #747b86;
    &:hover,
    &:active,
    &:focus {
      color: $blue;
    }
}

.newest-list__buttens {
  background-color: #fff;
  margin-top: 34px;
  padding: 30px 29px;
  margin-bottom: 28px;
  border-radius: 4px;
}

.newest-list__btn {
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: #747b86;
  background-color: #f1f3f6;
  border-radius: 20px;
  transition: all 1s;
  border: none;
  padding: 0 18px;
  margin-right: 9px;

  &:hover,
  &:active,
  &:focus {
    background-color: $blue;
    color: #fff;
    cursor: pointer;
  }
}

.newest-list__box-item {
  max-width: 363px;
  background-color: #fff;
  border: 1px solid #ececec;
  margin-top: 27px;
  margin-bottom: 3px;
  border-radius: 4px;
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
}

.newest-list__box-content {
  padding: 23px 30px 0px 30px;
  border-bottom: 1px solid #ececec;
}

.newest-list__box-content--bottom {
  padding: 10px 28px 5px 32px;
  border-bottom: 1px solid #ececec;
}

.newest-list__heading {
  font-weight: 500;
  font-size: 20px;
  color: #000;
  padding-bottom: 17px;
  margin: 0;
}
  
.newest-list__box-img {
  position: relative;
  
  &:hover .newest-list__link{
    opacity: 1;
    transition: all 1s;
  }
}

.newest-list__images {
  max-width: 362px;
  min-height: 229px;
  background-repeat: no-repeat;
}

.newest-list__link {
  border-radius: 44px;
  background-color: transparent;
  font-size: 15px;
  line-height: 41px;
  font-weight: 500;
  border: 1px solid #fff;
  color: #fff;
  text-align: center;
  padding: 0px 29px;
  cursor: pointer;
  position: absolute;
  top: 95px;
  left: 46px;
  opacity: 0;
  
  &:hover {
  background-color: #fff;
    color: $blue;
    transition: all 1s;
  }
}
  
.newest-list__link-more {
  z-index: 10;
}

.newest-list__link-demo {
  margin-left: 136px;
}

.newest-list__company {
  padding-bottom: 24px;
}

.newest-list__name-company {
  margin-left: 3px;
}

.newest-list__logo-company {
  width: 28px;
  height: 28px;
  display: inline-block !important;
  vertical-align: middle;
  margin-right: 8px;
}

.newest-list__menu-list {
  position: absolute;
  right: 10px;
  margin-top: 30px;
  background-color: #fff;
  border-radius: 5px;
  padding: 20px 45px 20px 20px;
  box-shadow: 0px 2px 50px 0px rgba(0,0,0,0.16);
  list-style: none;
  display: none;
}

.newest-list__btn-title{
  background: transparent;
  border: none;
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  color: #747b86;
  width: 100px;
  height: 30px;
  cursor: pointer;
  padding-left: 18px;
}

.newest-list__menu-link {
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: #747b86;
  &:hover,
  &:active,
  &:focus {
    cursor: pointer;
    color: $blue;
  }
}

.newest-list__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: $color-text;
  padding-bottom: 30px;
}

.newest-list__info-icon {
  padding-top: 10px;
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between;
}

.newest-list__price--gray {
  border: 1px solid #deeaf9;
  background-color: #deeaf9;
  border-radius: 30px;
  padding: 5px 15px;
  font-weight: 500;
  color: $blue;
  margin-right: 10px;
}

.newest-list__box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.newest-list__btn-all--new {
  background-color: #0674ec;
  border-radius: 40px;
  border: none;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 46px;
  color: #fff;
  text-align: center;
  margin: 58px auto 0;
  display: block;
  padding: 4px 33px;
  cursor: pointer;
}

.newest-list__btn-inner {
  padding-bottom: 127px;
}

// icon awesome
.newest-list__cmstype {
  font-size: 15px !important;
  color: #7347c1;
  margin-left: 9px;
}

.newest-list__menu-title {
  margin-right: 18px;
}

.newest-list__list::before {
  content:'';
  width: 0; 
  height: 0; 
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 14px solid white;
  top: 66px;
  right: 26px;
  position: absolute;
  z-index: 10;
}

// goods-slider
.goods-slider {
  background-color: #eff1f5;

  &__title {
  font-weight: 400;
  font-size: 30px;
  color: #000;
  background-color: #fff;
  padding: 40px 27px;
  margin-top: 112px;
  margin-bottom: 45px;
  width: 1140px;
  height: 114px;
  display: inline-block;
  line-height: 28px;
  border-radius: 4px;
  }
}

.goods-slider__box {
  max-width: 361px;
  background-color: #fff;
  border: 1px solid #ececec;
  margin-top: 5px;
  margin-right: 30px;
  margin-bottom: 3px;
  margin-left: 0px;
  border-radius: 4px;
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
}

.goods-slider__items{
  padding-bottom: 120px;
  position: relative;
}

.slick-prev {
  position: absolute;
  top: -125px;
  left: 1003px;
  z-index: 4;
  background-color: $blue;
  border-radius: 30px 0 0 30px;
  border: none;
  color: #fff;
  font-size: 0px;
  height: 45px;
  width: 54px;
  padding-bottom: 4px;
  color: transparent;
  background-image: url(../images/left.png);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.slick-next {
  position: absolute;
  top: -125px;
  right: 30px;
  background-color: $blue;
  border-radius: 0 30px 30px 0;
  border: none;
  color: #fff;
  font-size: 0px;
  height: 45px;
  width: 54px;
  padding-bottom: 4px;
  color: transparent;
  background-image: url(../images/right.png);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}


// our-counts

.our-counts {
  background-color: #212225;

  &__inner {
   @include flex;
    padding: 92px 0;
    max-height: 344px;
  }
}

.our-counts__items-1 {
  width: 25%;
  text-align: left;
}

.our-counts__items-2 {
  width: 25%;
  text-align: center;
}

.our-counts__items-3 {
  width: 25%;
  text-align: center;
}

.our-counts__items-4 {
  width: 25%;
  text-align: right;
}

.our-counts__img-box {
  min-width: 48px;
  height: 47px;
}

.our-counts__img-box1 {
  margin-left: 29px;
}

.our-counts__img-box2 {
  margin-right: 54px;
}

.our-counts__img-box3 {
  margin-left: 64px;
}

.our-counts__img-box4 {
    margin-right: 26px;
}

.our-counts__price {
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  margin-top: 38px;
  margin-bottom: 11px;

  &--yellow {
    color: #feb71d;
    line-height: 41px;
    margin-left: 4px;
  }
  &--blue {
    color: #58c9e9;
    margin-right: 54px;
  }
  &--green {
    color: #77de51;
    margin-left: 65px;
  }
  &--red {
    color: #ff6d6d;
    margin-left: 55px;
  }
}

.our-counts__desc {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: #fff;
}

.our-counts__desc1 { 
  margin-top: -4px;
} 

.our-counts__desc2 {
  margin-right: 54px;
}

.our-counts__desc3 {
  padding-left: 67px;
}

.our-counts__desc4 {
  margin-right: 12px
}

// advantage
.advantage__header {
 margin-top: 95px;
 max-width: 678px;
 text-align: center;
 margin: 119px auto 55px;
}

.advantage__title {
  font-size: 36px;
  font-weight: 400;
  line-height: 28px;
  color: #000;
  margin-bottom: 30px;
}

.advantage__name-company {
  color: $blue;
}

.advantage__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: $color-text;
}

.advantege__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 84px;
}

.advantege__item {
  max-width: 361px;
  padding: 6px 17px 55px;
  border-radius: 4px;
  box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
  margin-bottom: 31px;
}

.number {
  font-size: 48px;
  line-height: 7,2px;
  color: #5c87f8;
  font-weight: 300;
  text-align: left;
  opacity: 0.2;
}

.advantege__box {
  text-align: center;

  &-images {
    min-width: 60px;
    min-height: 60px;
    margin-bottom: 34px;
    margin-top: -7px;
  }
  &-title {
    font-size: 24px;
    color: #000;
    font-weight: 400;
    margin-bottom: 21px;
  }

  &-text {
    font-size: 16px;
    line-height: 30px;
    color: $color-text;
    font-weight: 400;
    padding: 0 13px;
  }
}

// split-space
.split-space__inner {
  display: flex;
  margin-bottom: 117px;
}

.split-space__sell,
.split-space__shopping {
  max-width: 960px;
  max-height: 564px;
  text-align: center;
}

.split-space__sell {
  background-color: $blue;
  @include split-space;

  &-img {
    margin-bottom: 43px;
  }
}

.split-space__title {
  font-size: 36px;
  line-height: 30px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 24px;
}

.split-space__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: #fff;
  margin-bottom: 45px;
  padding: 0 180px;
}

.split-space__link {
  font-size: 16px;
  line-height: 56px;
  font-weight: 400;
  color: $blue;
  background-color: #fff;
  border-radius: 25px;
  padding: 0 26px;
  cursor: pointer;
  display: inline-block;
}

.split-space__shopping {
  background-color: #7347c1;
  @include split-space;

  &-img {
    margin-left: 16px;
    margin-bottom: 43px;
  }
} 

.split-space__link-start {
  padding: 0 40px;
}

// feedback
.feedback__heading {
  text-align: center;
  max-width: 678px;
  margin: 0 auto;
}

.feedback__title {
  margin-bottom: 26px;
}

.feedback__text {
  margin-bottom: 60px;
}

.feedback__title--blue {
  color: $blue;
}

.feedback__inner {
  margin-bottom: 60px;
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.06);
}

.feedback__box {
  border-left: 2px solid $blue;
  width: 50%;
  min-height: 310px;
  padding: 44px 38px;
  margin-right: 27px;
  position: relative;

    &:before {
    content: "\e96e";
    font-family: 'icomoon';
    font-size: 60px;
    color: #e8e8e8;
    position: absolute;
    right: 55px;
    top: 40px;
    font-weight: normal;
  }

  &-next {
    margin-left: 12px;
  }
}

.slick-slide img {
  display: inline-block;
}

.feedback__foto-user {
  max-width: 80px;
  max-height: 80px;
  border-radius: 50%;
  vertical-align: middle;
  margin-bottom: 22px;
}

.feedback__info {
  display: inline-block;
  margin-left: 15px;
  vertical-align: middle;
}

.feedback__user-name {
  font-size: 20px;
  color: #000;
  font-weight: 400;
}

.feedback__user-info {
  margin-bottom: 19px;
  margin-top: 7px;
}

.feedback__link {
  font-size: 16px;
  line-height: 24px;
  background-color: $blue;
  border-radius: 34px;
  color: #fff;
  padding: 15px 23px;
  margin: 0px auto 119px;
  display: block;
  text-align: center;
  max-width: 188px;
}

// news
.news {
  background-color: #eff1f5;
  min-height: 885px;
  &__heading {
    margin-top: 125px;
  }
}

.news__heading {
  text-align: center;
  display: block;
  max-width: 675px;
  padding: 119px 0 55px;
  margin: 0 auto;
}

.news__title {
  margin-bottom: 28px;

  &--blue {
  color: $blue;
  }
}

.news__inner {
  display: flex;
  justify-content: space-between;
}

.news__box-link {
  cursor: pointer;
}

.news__box {
  max-width: 361px;
  border: 1px solid #e4e6ea;
  border-radius: 4px;
  background-color: #fff;
}

.news__image-product {
  max-width: 358px;
  max-height: 230px;
}

.news__box-title {
  font-size: 22.2px;
  font-weight: 500;
  color: #000;
  margin-top: 26px;
  margin-bottom: 20px;
  padding: 0 6px 0 27px;
  line-height: 28px;
}

.news__box-text {
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  color: $color-text;
  padding: 0 28px;
}

.news__box-icon {
  padding: 0px 28px 0 30px;
  color: #9d9d9d;
}

.news__box-icon--blue {
  color: #4899f1;
}

.news__box-icons {
  display: inline-block;
  margin-bottom: 19px;
}

.news__box-icons--border {
  display: inline-block;
  border-right: 1px solid #ececec;
  width: 179px;
}

.news__box-icon--eye {
  margin-left: 27px;
}

.news__box-inner {
  border-top: 1px solid #ececec;
  padding-top: 21px;
  margin-top: 26px;
}

// benefit
.benefit__inner {
  display: flex;
}

.benefit__item-images {
  min-width: 155px;
  min-height: 120px;
  padding-top: 60px;
}

.benefit__text {
  font-size: 24px;
  font-weight: 400;
  color: #000;
  padding-top: 30px;
  padding-bottom: 58px;

  &--blue {
    color: $blue;
  }
  
  &--purple {
    color: #7347c1;
  }
}

.benefit__item-left {
  width: 50%;
  text-align: center;
  border-right: 1px solid #e8eaf3;
  padding-right: 40px;
}

.benefit__item-right {
  width: 50%;
  text-align: center;
  padding-right: 10px;
}

.benefit__item-pic {
  text-align: center;
}

// case
.case {
  background:linear-gradient(to right,#661e91, #0d37d9);
  height: 100%;
  &__box {
    text-align: center;
  }

  &__title {
    font-size: 36px;
    font-weight: 400;
    color: #fff;
    padding-top: 103px;
    padding-bottom: 20px;
  }

  &__text {
    font-size: 18px;
    font-weight: 400;
    color: #e7e7e7;
    padding-bottom: 49px;
  }

  &__link {
    font-size: 16px;
    font-weight: 400;
    border-radius: 40px;
    background-color: #fff;
    color: $blue;
    padding: 19px 42px;
    width: 190px;
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    margin-bottom: 111px;
    cursor: pointer;
      &:hover,
      &:focus,
      &:active {
        background-color: $blue;
        color: #fff;
      }
  }

}

// footer
.footer {
  background-color: #262b30;

  &__title {
    font-size: 18px;
    font-weight: 400;
    line-height: 42px;
    color: #fff;
    margin-bottom: 20px;
    text-align: left;
  }

  &__text-contacts,
  &__text-social,
  &__link,
  &__address {
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
    color: #ababab;
  }
}

.footer__inner {
  display: flex;
  padding-bottom: 90px;
}

.footer__item-contacts {
  max-width: 280px;
  margin-right: 61px;
}

.footer__item-menu,
.footer__item-support {
  max-width: 180px;
}

.footer__item-social {
  max-width: 360px;
  margin-left: 60px;
}

.footer__item {
  padding-top: 115px;
}

.footer__item-menu {
  margin-bottom: 16px;
  text-align: center;
  margin-right: 126px;
}

.footer__list-menu,
.footer__list-support {
  margin-bottom: 4px;
  text-align: left;
  word-spacing: 1px;
  list-style: none;
}
  
.footer__item-support,
.footer__item-social {
  text-align: right;
}

.footer__text-social {
  text-align: left;
  margin-bottom: 31px;
}


.footer__text-contacts {
  margin-bottom: 18px;
}

.footer__link {
  cursor: pointer;
  &:hover,
  &:focus,
  &:active {
    color: $blue;
  }
}

.footer__link-phone,
.footer__link-email,
.footer__address {
  padding-left: 29px;
  margin-bottom: 6px;
}

.footer__link-phone {
  position: relative;
  display: inline-block;

  &::before{
  content: "\f095";
  position: absolute;
  left: 0;
  font-family: 'icomoon';
  }
}

.footer__link-email {
  position: relative;
  display: inline-block;
  &::before{
  content: "\f003";
  position: absolute;
  left: 0;
  top: 0;
  font-family: 'icomoon';
  }
}

.footer__address{
  position: relative;
  font-style: normal;

  &::before{
  content: "\e948";
  position: absolute;
  left: 0;
  top: 16px;
  font-family: 'icomoon';
  }
}

.footer__form {
  margin:0;
  position: relative;
}

.footer__input {
  border-radius: 40px;
  padding: 14px 40px 14px 28px;
  border: none;
  margin-bottom: 50px;
  width: 359px;
  &::placeholder {
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
    color: #ababab;
  }
}

.footer__btn {
  position: absolute;
  right: 0;
  top: -1px;
  background-color: $blue;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  line-height: 42px;
  border-radius: 40px;
  border: none;
  padding: 4px 30px;
  cursor: pointer;
}

.footer__list-social {
  display: flex;
  margin: 0;
}

.footer__list-icon {
  margin-right: 13px;
  list-style: none;
}

.footer__list {
  padding: 0;
}

// footer__bottom
.footer__bottom {
  background: #192027;
  font-size: 15px;
  line-height: 27px;
  font-weight: 400;
  color: #999999;
  padding: 35px 0;
  text-align: center;

  &-link {
    color: #fff;
    cursor: pointer;
    &:hover,
    &:focus {
      color: $blue;
    }
  }
}

.footer__name-company {
  color: #fff;
}